commands:
  01-attach-volume:
    test: test ! -f /dev/sdf
    command: |
      aws ec2 attach-volume --volume-id vol-004bbf1abd50d0d8e --instance-id i-00c49e221ffa175d4 --device /dev/sdf --region us-east-1
      sleep 10

  02-mount-srv:
    command: |
      mount /dev/sdf1 /srv

  03-chown-srv:
    command: chown -R ec2-user:ec2-user /srv

packages:

  yum:
    libjpeg-turbo-devel: []
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []
    mod24_ssl : []
