commands:
  01mkfs:
    test: test ! -b /dev/xvdf
    command: "mkfs -t ext3 /dev/sdf"
  02mount:
    test: test ! -b /dev/xvdf
    command: "mount /dev/sdf /srv"

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/sdf=:16

files:
  /home/ec2-user/.bashrc:
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
        # .bashrc

        # Source global definitions
        if [ -f /etc/bashrc ]; then
            . /etc/bashrc
        fi

        # User specific aliases and functions
        set -o vi
 
packages:
  yum:
    libjpeg-turbo-devel: []
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []
    mod24_ssl : []
