container_commands:
  01rewrite_http:
    command: cp wsgi.conf ../wsgi.conf
  02rewrite_https:
    command: cp ssl.conf ../ssl.conf

commands:
  01mkfs:
    test: test ! -b /dev/xvdf
    command: "mkfs -t ext3 /dev/sdg"
  02mount:
    test: '[ ! mountpoint -q /srv ]'
    command: "mount /dev/sdg /srv"
  03chown:
    command: "chown -R ec2-user:ec2-user /srv"
  04keygen:
    test: test ! -f /home/ec2-user/.ssh/id_rsa
    command: ssh-keygen -f /home/ec2-user/.ssh/id_rsa -P '' && chown ec2-user:ec2-user /home/ec2-user/.ssh/id_rsa*

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: BlockDeviceMappings
    value: /dev/sdg=:16
  - namespace: aws:elb:loadbalancer
    option_name: SSLCertificateId
    value: arn:aws:acm:us-east-1:014889281015:certificate/e4d9a283-670b-45eb-91af-f65df76f48bb

files:
  /home/ec2-user/.bashrc:
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
        # .bashrc

        # Source global definitions
        if [ -f /etc/bashrc ]; then
            . /etc/bashrc
        fi

        # User specific aliases and functions
        set -o vi
 
packages:
  yum:
    libjpeg-turbo-devel: []
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []
    mod24_ssl : []
