body {
    background: white;
}

#portal-globalnav {
    background: darkgray;
}

#portal-globalnav .selected a, #portal-globalnav a:hover {
    background-color: #0F1A50;
}
#portal-globalnav {
    background-color: gray;
}
#portal-globalnav li a {
    background-color: gray;
    color: white;
}
#portal-globalnav li a:hover {
    background-color: #0F1A50;
}

#portal-globalnav li.selected a:hover {
    background-color: #0F1A50;
}

#portal-globalnav li a {
    color: white !important;
    font-size: 125%; 
}

#portal-globalnav li#portaltab-about-us.selected ul.submenu li a {
    background-color: gray;
}
#portal-globalnav li#portaltab-about-us.selected ul.submenu li a:hover {
    background-color: #0F1A50;
}
#portal-column-content {
    background: white;
    box-shadow: 12px 0 15px -4px black, -12px 0 8px -4px black; /* http://stackoverflow.com/a/11997074 */
}
#content {
    padding: 0 10px 0 10px;
}

#logo {
    padding-left: 0;
}

#logo img {
    padding: 0;
    margin: 0 0 2em 0;
}
